/** @format */

$COLOR-NOTSET: orange;

$color-100: #101828;
$color-95: #1d2533;
$color-90: #272f3d;
$color-80: #3d4555;
$color-60: #797e8b;
$color-40: #b5b7c0;
$color-20: #d3d4db;
$color-10: #e8e8ee;
$color-5: #f4f4f5;
$color-0: #ffffff;

$opacity-0: 0;
$opacity-3: 3;
$opacity-5: 5;
$opacity-10: 10;
$opacity-25: 25;
$opacity-50: 50;
$opacity-70: 70;
$opacity-100: 100;
