<PageTitle>Home</PageTitle>

<h1>
    <NavLink href="Viewer?sessionId=695468c9-93f7-47ea-8622-85495b2e04f9&accessKey=password&requesterName=Gizmo&viewonly=true&mode=Attended">
        Go to Blazor Viewer
    </NavLink>
</h1>
